.white-background {
    -fx-background-color: #fff;

}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);

}

.round-layout {
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;

}

.selected {
    -fx-background-color: #F3F3F3;

}

.mouse-moved:hover {
    -fx-background-color: #E4E4E4;
}

/* Style lorsqu on survole un text */
.survole-color-text {
    -fx-text-fill: #a3a3a3;
}

.survole-color-text:hover {
    -fx-text-fill: #2F3192;
}

/* Style Bouton Vert (connexion)*/
.boutonConnexion {
    -fx-background-color: #71cebf;
    -fx-text-fill: #fff;

}

.boutonConnexion:hover {
    -fx-text-fill: #71cebf;
    -fx-background-color: transparent;
    -fx-border-color:  #71cebf;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 20;
}
/* Style bouton Enregistrement*/
.boutonEnregistrement {
    -fx-background-color: #fff;
    -fx-text-fill: #5657D5;

}

.boutonEnregistrement:hover {
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-border-color:  #fff;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 50;
}
.bouton_NouveauPatient {
    -fx-background-color: #5657D5;
    -fx-text-fill: #fff;

}

.bouton_NouveauPatient:hover {
    -fx-text-fill: #5657D5;
    -fx-background-color: transparent;
    -fx-border-color:  #5657D5;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 50;
}
/* Style Bouton */
.boutonStyle {
    -fx-background-color: #2F3192;
    -fx-text-fill: #fff;

}

.boutonStyle:hover {
    -fx-text-fill: #2F3192;
    -fx-background-color: transparent;
    -fx-border-color: #2F3192;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 50;
}
/* Style Ombre */
.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);

}

.white_input {
    -fx-text-fill: #fff;

}
.other_input {
    -fx-text-fill: #1B0A4B;

}
/* Style Bouton */
.boutonDash {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-radius: 8;
    -fx-border-color: #fff;
    -fx-border-vidth: 1px;
    -fx-border-style: transparent;

}

.boutonDash:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #2F3192;
    -fx-border-color: #2F3192;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 8;
}

.boutontest {
    -fx-background-color: #2F3192;
    -fx-text-fill: #fff;

}

.boutontest:hover {
    -fx-text-fill: #2F3192;
    -fx-background-color: transparent;
    -fx-border-color: #2F3192;
    -fx-border-vidth: 1px;
    -fx-border-style: solid;
}
.boutontest2 {
    -fx-background-color: transparent;
    -fx-text-fill: #8E95A5;
}
.boutontest2:hover {
    -fx-text-fill: #2F3192;
    -fx-border-color: #2F3192;
    -fx-border-width: 0px 0px 1px 0px;
}
.boutontest2:hover #MaterielChange {
    -fx-fill: #2F3192;
}
.boutontest3 {
    -fx-background-color: transparent;
    -fx-text-fill: #8E95A5;
}
.boutontest3:hover {
    -fx-text-fill: #2F3192;
    -fx-border-color: #2F3192;
    -fx-border-width: 0px 0px 0px 3px;
}
.boutontest3:hover #img_specialiste {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_patient {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_medicament {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_rdv {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_traitement {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_consultation {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_attente {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_type_user {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_user {
    -fx-fill: #2F3192;
}
.boutontest3:hover #MaterielChange11111 {
    -fx-fill: #2F3192;
}
.boutontest3:hover #img_dashboard {
    -fx-fill: #2F3192;
}